*.o
*~
*.exe
*.log
*.gz
.*.swp
bbclib-test
*.kdev*
*.layout
<*
*.plist
.*project
*.anjuta
*.komodo*
.*.prefs
nbprojet/
nbprojet/**
nbproject/configurations.xml
nbproject/private/configurations.xml
nbproject/private/private.xml
nbproject/private/private.xml.BACKUP.5508.xml
nbproject/private/private.xml.BASE.5508.xml
nbproject/private/private.xml.LOCAL.5508.xml
nbproject/private/private.xml.REMOTE.5508.xml
.settings/org.eclipse.core.runtime.prefs
