*.o
*.a
*.bak
*.lib
# watcom
*.obj
*.err
*.sym
*.map
*.MAP
*.mbr
*.lk*
# vc98
*.ncb
*.plg
*.opt
*.pdb
*.idb
*.ilk
*.pch
*.sbr
*~
*.exe
*.log
*.gz
.*.swp
bbclib-test
*.kdev*
*.layout
<*
*.plist
.*project
*.anjuta
*.komodo*
.*.prefs
nbprojet/
nbprojet/**
nbproject/configurations.xml
nbproject/private/configurations.xml
nbproject/private/private.xml
nbproject/private/private.xml.BACKUP.5508.xml
nbproject/private/private.xml.BASE.5508.xml
nbproject/private/private.xml.LOCAL.5508.xml
nbproject/private/private.xml.REMOTE.5508.xml
nbproject/private/Default.properties
.settings/org.eclipse.core.runtime.prefs
bbclib-test.BSD
bbclib-test.GNU
*.cbr
*.mk1
bbclib.mk
*.smp
/.plastic/
/objs*/
/bbclib-test.GNU.*
/analyze/
bc5f/
bc5o/
*.\$*
*.~*
*.m[br]t
*.DSW
*.BAK
/help
/help/
/BccW32.cfg
/bc5lib.ide
